header h1{
  color: #E6E6FA;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Hepta Slab', serif; /*-- This has a link in HTML*/
  padding: 20px;
  display: inline;
}

body {
  background-color: #FFB6C1;
}

header{
  display: flex;
  align-items: center;
}

header nav{
  display: flex;
  justify-content: flex-end;
  font-family: 'Hepta Slab', serif;
  padding: 30px;

}

header p{
  padding: 0 20px;
  margin: 0;
}
.jumbotron {
  background-color: #FFB6C1
}

header img{
  padding: 0px;
}
